
<div>
    <h2> PAGINA REGISTRO </h2>
    <br>
    <div class="alert alert-success" role="alert">
        <form action="/api/autenticacion/signup" method="post" id="login" onsubmit="process(evento)" enctype="multipart/form-data">
            <div>
                <h3>Ingrese sus datos para poder registrarse</h3>
                <br>
                <input type="text" name="nombre" placeholder="Ingrese su nombre" required>
                <input type="email" name="usuario" placeholder="Ingrese su email" required>
                <input type="password" name="contrasena" placeholder="Ingrese su contraseña" required>
                <input type="number" name="edad" placeholder="Ingrese su edad" required>
                <input type="text" name="direccion" placeholder="Ingrese su direccion" required>
                <input type="file" name="avatar" placeholder="Ingrese su foto/avatar" required/>
                <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su N° de telefono" required/>
                <br> 
                <div class="alert alert-info" style="display: none;"></div>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Ingresar</button>
        </form>
        <br>
        <div>
            <button class="btn btn-success" onclick="location.href='/api/autenticacion/login'">Iniciar sesion</button>
        </div>
    </div>
</div>

<script>
    import intlTelInput from 'intl-tel-input';
    import { DaoUsuario } from '../../Dao/index.js';

    const inputTelefono = document.querySelector("#telefono");

    const numeroTelefono = window.intlTelInput(inputTelefono, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["ar", "co", "es", "de"]
    });

    const info = document.querySelector(".alert-info");

    function process(evento) {
        evento.preventDefault();

        // const numeroTelefono = inputTelefono.getNumber();
        const numeroTelefono = await DaoUsuario.obtenerUno({ 'telefono': numeroTelefono });

        info.style.display = "";
        info.innerHTML = `Su numero de telefono en el formato E.164: <strong>${numeroTelefono}</strong>`;
    }
</script>
